.keyboard-wrapper{
    padding: 10px;
    border: 1px solid black;
}
.qoute-wrapper{
    margin-bottom: 10px;
    
}

.try-again-container {
    padding: 10px 15px;
    background: blueviolet;
    border-radius: 3px;
    color: white;
}
.action wrapper{
    padding: 10px 0;
}